name: researchpodcast

on:
  schedule:
    - cron: "0 7 * * 0"
  workflow_dispatch:

jobs:
  run:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - run: pip install openai requests pydub

      - run: sudo apt-get update && sudo apt-get install -y ffmpeg

      - run: python podcast.py
        env:
          OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}

      - name: Commit and Push
        run: |
          git config user.name "github-actions"
          git config user.email "actions@github.com"
          git add .
          git commit -m "Add new episode" || echo "No changes"
          git push
